version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "03:00"
    commit-message:
      prefix: "chore(deps)"
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"